<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profilo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profilo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button (click)="goAnOtherPage()" expand="block">Block Button</ion-button>
</ion-content>
