<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Acquista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Vendi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
