<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vendi
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vendi</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>zio pior</p>

</ion-content>
