<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <!-- nome in cima alla barra delle pagine-->
      Acquista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  
  <ion-card [routerLink]="['/fumetti']">
    <ion-card-header>
       <ion-card-title> FUMETTI </ion-card-title>
    </ion-card-header>    
  </ion-card>
  <ion-card [routerLink]="['/action']">
    <ion-card-header>
       <ion-card-title> ACTION FIGURE </ion-card-title>
    </ion-card-header>    
  </ion-card>
  <ion-card [routerLink]="['/videogame']">
    <ion-card-header>
       <ion-card-title> VIDEOGAME </ion-card-title>
    </ion-card-header>    
  </ion-card>
  <ion-card>
    <ion-card-header [routerLink]="['/giochiTavolo']">
       <ion-card-title> GIOCHI DA TAVOLO </ion-card-title>
    </ion-card-header>    
  </ion-card>
  <ion-card>
    <ion-card-header [routerLink]="['/cosplay']">
       <ion-card-title> COSPLAY </ion-card-title>
    </ion-card-header>    
  </ion-card>
</ion-content>
